assignment1/.ipynb_checkpoints
assignment2/question4/.ipynb_checkpoints
assignment2/question5/.ipynb_checkpoints
assignment3/question4/.ipynb_checkpoints
assignment3/question5/.ipynb_checkpoints
assignment4/question6/train.csv
assignment4/question6/sample.csv
assignment4/question5/.ipynb_checkpoints
assignment4/question6/.ipynb_checkpoints
assignment5/question4/.ipynb_checkpoints
assignment5/question5/.ipynb_checkpoints
foml
